<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>team</title>
</head>
<body>
    <div style="background-color: blue;height: 200px; width: 80%; margin: auto; color: #fff; font-size: 100px; text-align: center; " class="jumbotrom">My Team</div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {placeholder}
            </div>
        </div>
    </div>
</body>
</html>