<div class="card text-white bg-primary mb-3" style="max-width: 18rem; float: left; margin: 20px;">
    <div class="card-header">
       <h2> {name} </h2>
       <h2><span class="fa fa-suitcase"></span>  Manager</h2>
    </div>
    <div class="card-body" style="color: black;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: {idNumber} </li>
            <li class="list-group-item">Email: <a href="#">{email}</a></li>
            <li class="list-group-item">Office number: {officeNumber} </li>
        </ul>
    </div>
</div>
